.title {
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;

}

.text {
    font-size: 15px;
    line-height: 20px;
}

.card-img-cust {
    height: 235px;
    width: 336px !important;
    border: 8px solid #FFFFFF;
    border-radius: 19px !important;
    background-color: #FFFFFF;
    box-shadow: 5px 15px 60px 0 rgba(0, 0, 0, 0.19);
}

.green {
    color: #068B1F;
}

.price {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.54px;
    line-height: 27px;
    text-align: right;
}

.weight {
    font-size: 12px;
    font-weight: 500;
    text-align: right;
}

.grey {
    color: #242222;
}

.no-side-paddings {
    padding-left: unset !important;
    padding-right: unset !important;
}

.modal-header {

    border-bottom: unset !important;

}

.modal-content {
    height: 700px !important;
}

.modal-lg {
    max-width: 1200px !important;
}

.three-d-icon {
    width: 50px;
    position: absolute;
    left: 260px;
    top: 20px;
}

.three-d-icon:hover {
    cursor: pointer;
}