.container-cust {
    margin-top: 100px;
}

.h1-cust {
    color: #242222;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: .6;
    margin-bottom: 60px;
}

.p-cust {
    width: 440px;
    color: #242222;
    font-size: 25px;
    letter-spacing: 0.67px;
    line-height: unset;
}