.bg {
    background-color: #242323;
}

.greenPhoto {
    margin-top: 150px;
}

.buttons-block {
    margin-top: 150px;
    margin-bottom: 80px;
}

.glovoBtn {
    height: 50px;
    width: 250px;
    padding-top: 2px !important;
    border-radius: 0 100px 100px 0 !important;
    background-color: #FFC244 !important;
    color:#00a082 !important;
    text-align: left !important;
    font-size: 25px !important;
    font-weight: 600 !important;
margin-right: 35px;
}

.uberBtn {
    height: 50px;
    width: 250px;
    padding-top: 2px !important;
    border-radius: 0 100px 100px 0 !important;
    background-color: #000000 !important;
    color:#fff !important;
    text-align: left !important;
    font-size: 25px !important;
    font-weight: 600 !important;
}

