.bg {
    background-color: #242323;
}

.logo-text {
    display: -webkit-inline-box;
    font-size: 15px;
    line-height: 16px;
}

.phone {
    color: #0CCA22 !important;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 20px;
}

.nav-link-cust {

    color: #fff !important;
    font-size: 15px;
    letter-spacing: 0.4px;
    line-height: 20px;
}
.nav-link-cust:hover{
    text-decoration: none;
}
.nav-center {
    margin-left: 50px;
    margin-right: 50px;
}

.logo-text {
    font-size: 15px;
    line-height: 16px;
    margin-left: 12px;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}
.logo-a{
    display: contents !important;
}