.bg-footer {
    background-color: #242323;
    position: relative;
    top: 605px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.glovoBtn-footer {
    height: 50px;
    width: 250px;
    margin-bottom: 25px;
    padding-top: 0px !important;
    border-radius: 0 100px 100px 0 !important;
    background-color: #FFC244 !important;
    color: #00a082 !important;
    text-align: left !important;
    font-size: 25px !important;
    font-weight: 600 !important;
}

.uberBtn-footer {
    padding-top: 4px !important;
    height: 50px;
    width: 250px;
    border-radius: 0 100px 100px 0 !important;
    background-color: #000000 !important;
    color: #fff !important;
    text-align: left !important;
    font-size: 25px !important;
    font-weight: 600 !important;
}

.social-block {
    padding-left: 60px;
   /* display: grid;
*/
}

.green13-c {
    opacity: 0.5;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.terms {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    padding-top: 10px;
}

.terms-otstup {
    margin-right: 30px;
}

.copyright {
    padding-top: 10px;
}

.footer-text {
    color: #fff;
    font-size: 15px;
    line-height: 20px;
}
.social-img{
    display: block;
    margin-bottom: 15px;
}