.h1-menu {
    color: #242222;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 137px;
    text-align: center;
}

.btn-group-cust {
    position: absolute !important;
    padding-top: 40px;
    left: 70px;
}
.btn-group-cust button {
    height: 38px !important;	width: 217px !important;
}
.menu-btn {
    text-align: left !important;
    background-color: #323030;
    border-radius: 0 100px 100px 0 !important;
    height: 38px;
    width: 219px;
    margin-bottom: 38px;
}

.menu-btn:active {
    background-color: #068B1F !important;
}

.menu-btn:hover {
    background-color: #068B1F !important;
    border: 1px solid #068B1F !important;
    /* box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5) !important;*/
}

.menu-btn:focus {
    background-color: #068B1F !important;
    border: 1px solid #068B1F !important;
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5) !important;
}

.menu-btn:visited {
    background-color: #068B1F !important;
}

.menu-btn-cur {
    text-align: left !important;
    background-color: #068B1F;
    border-radius: 0 100px 100px 0 !important;
    height: 38px;
    width: 219px;
    margin-bottom: 38px;

}

.menu-btn-menu {
    text-align: left !important;
    background-color: #fff;
    border-radius: 0 100px 100px 0 !important;
    font-size: 22px !important;
    font-weight: bold !important;
    line-height: 30px !important;
    color: #323030;
    height: 38px;
    width: 219px;
    margin-bottom: 38px;

}
.menu-btn-menu:hover {
    background-color: #fff !important;
    color: #323030 !important;
}

.slick-vertical .slick-slide {
    height: 650px;
    padding-left: 20px !important;
}

.drop-btn button {
    height: 46px;
    width: 344px;

    background-color: #323030;
    border-radius: 0 100px 100px 0 !important;
}

.dropdown-menu {

}

.dot-btn {
    height: 46px;
    width: 344px;
    border-radius: 0 100px 100px 0 !important;
    background-color: #323030 !important;
    text-align: left !important;
    font-size: 20px !important;
    letter-spacing: 0.54px;
    line-height: 27px !important;
    margin: 2px;
}

.dot-name {
    color: #242222;
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
}

.dot-price {
    color: #068B1F;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.54px;
    line-height: 27px;
    text-align: right;
    float: right;
    margin-right: 25px;
}
.dot-block {
    margin-top:30px;
    margin-bottom:40px;
}
.slick-list{
    padding: 50px 0px !important;
}
.btn-img{
    float: right;
    margin-top: 2px;
}
.none{
    display: none;
}
.display{
    display: block;
}
.dodatki-btn-img{
     display: inline;
     width: 9%;
     transform: rotate(0deg);
     float: right;
 }
.dodatki-btn-img-none{
    display: inline;
    width: 9%;
    transform: rotate(180deg);
    float: right;
}