.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

html {
    zoom: 75%;
    font-family: "Avenir Next Cyr", sans-serif !important;
}

span, h1, h2, h3, h4, p, li, a, button {
    font-family: "Avenir Next Cyr", sans-serif !important;
}
.modal-backdrop {

    width: 100% !important;
    height: 100% !important;

}